*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.navbar {
  background-color: #f06292;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.5em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f084a8;
    padding: 15px;
}
main{
    display: flex;
    padding: 20px;
}
.contenido{
    flex: 3;
    display: table-column;
    grid-template-columns: 1fr1fr;
    gap: 15px;
}
.contenido article,
.contenido section{
    background:#f388ee;
    padding: 20px;
    border: fpx solid #ccc;
}
.contenido section{
    grid-column: span2;
    background: #ee8ce9;
    color: rgb(7, 8, 10);
}
aside{
    flex: 1;
    margin-left: 20px;
    background:#f06292;
    padding: 20px;
}
footer{
    text-align: center;
    background: #f06292;
    padding: 15px;
    margin-top: 20px;
}
nav{
    background-color: #e674d3;
    padding: 10px;
}
